@use 'sass:map';
@use '@/scss/mixin/themes.scss' as theme;
@forward '@/scss/mixin/themes.scss' show $theme-color;

$radius-base: 8px;
$radius-lg: 10px;
$radius-ex-lg: 12px;
$radius-sm: 6px;
$radius-ex-sm: 4px;

// 用于混合的背景色
$mix-bg: #000;

$text-color-primary: #fff;
$text-color-regular: #{map.get(theme.$theme-color, 'l-9')};
$text-color-secondary: #{map.get(theme.$theme-color, 'l-7')};
$text-color-placeholder: #{map.get(theme.$theme-color, 'l-8')};
$border-color: #{map.get(theme.$theme-color, 'l-4')};
$border-hover-color: #{map.get(theme.$theme-color, 'l-6')};
$border-focus-color: #{map.get(theme.$theme-color, 'l-8')};
$input-bg-color: #{map.get(theme.$theme-color, 'l-2')};

$header-height: 60px;
$menu-width: 100px;
$main-padding: 30px;
