@use 'sass:map';
@use '@/scss/token.scss' as token;

body {
	.el-button {
		&.icon {
			--el-button-border-color: transparent;
			--el-button-disabled-border-color: transparent;
			--el-button-bg-color: transparent;
			--el-button-disabled-bg-color: transparent;
			--el-button-hover-bg-color: #{map.get(token.$theme, 'l-2')};
			--el-button-hover-border-color: #{map.get(token.$theme, 'l-2')};
			--el-button-hover-text-color: #fff;
		}
	}
}
