@use 'sass:map';
@use '@/scss/token.scss' as token;

body {
	.el-tooltip.el-popper {
		--el-popper-bg-color-dark: #{map.get(token.$theme-color, 'd-5')};
		&.is-dark {
			color: map.get(token.$theme-color, 'l-8');
			border-color: var(--el-popper-bg-color-dark);
		}
	}
}
