@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use '@/scss/function/var.scss' as var;

$themes: (
	xingyezi: #7b61ff,
	shenhailan: #4a90e2,
	boheqing: #21c7ab,
	yinghuafen: #ff6fa7,
	riluocheng: #ff9e4d,
);

// css 变量名
$theme: ();

@mixin themes() {
	@each $name, $color in $themes {
		&.#{$name} {
			@for $i from 1 through 9 {
				@if $i == 1 {
					#{var.varName('theme')}: #{$color};
				} @else {
					#{var.varName('theme', 'light', $i)}: #{color.mix(
							#fff,
							$color,
							math.percentage(math.div($i - 1, 10))
						)};
					#{var.varName('theme', 'dark', $i)}: #{color.mix(
							#000,
							$color,
							math.percentage(math.div($i - 1, 10))
						)};
				}
			}
			#{var.varName('theme', 'bg')}:
				radial-gradient(circle at top, color.mix(#000, $color, 18%), transparent 55%),
				linear-gradient(180deg, color.mix(#000, $color, 5%), color.mix(#000, $color, 50%));
			#{var.varName('sidebar', 'bg')}: rgba(color.mix(#fff, $color, 10%), 0.8);
			#{var.varName('header', 'bg')}:
				radial-gradient(circle at top, color.mix(#000, $color, 18%), transparent 55%),
				rgba(color.mix(#000, $color, 10%), 0.5);
			#{var.varName('loading', 'bg')}: rgba(color.mix(#000, $color, 80%), 0.3);
		}
	}
}

@for $i from 1 through 9 {
	@if ($i == 1) {
		$theme: map.set($theme, 'primary', var(--theme));
	} @else {
		$theme: map.set($theme, 'l-#{$i}', var(--theme-light-#{$i}));
		$theme: map.set($theme, 'd-#{$i}', var(--theme-dark-#{$i}));
	}
	$theme: map.set($theme, 'bg', var(--theme-bg));
	$theme: map.set($theme, 'sidebar-bg', var(--sidebar-bg));
	$theme: map.set($theme, 'header-bg', var(--header-bg));
	$theme: map.set($theme, 'loading-bg', var(--loading-bg));
}
