:root {
	--background-color: #a1ebbc;
	--left-side-offset: 250px;
	--right-side-offset: 0px;

	--side-float-padding: 0 var(--right-side-offset) 0 var(--left-side-offset);
	--container-padding: 20px;

	--index-video-row-count: 6;
	--index-video-list-gap: var(--container-padding);
	--index-video-item-width: calc(
		(100% - var(--left-side-offset) - var(--right-side-offset)) /
			var(--index-video-row-count) - var(--index-video-list-gap)
	);
	--index-video-item-background-color: #fff;
	--index-video-item-name-color: #333;

	--detail-block-background-color: #fff;

	font-size: 16px;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Helvetica Neue,
		Helvetica,
		Arial,
		PingFang SC,
		Hiragino Sans GB,
		Microsoft YaHei,
		sans-serif;
}

@media screen and (max-width: 1600px) {
	:root {
		--index-video-row-count: 5;
	}
}

@media screen and (max-width: 1400px) {
	:root {
		--index-video-row-count: 4;
	}
}

@media screen and (max-width: 1200px) {
	:root {
		--index-video-row-count: 3;
	}
}
