@font-face {
	font-family: 'icofont';
	src:
		url(./icon/iconfont.woff2) format('woff2'),
		url(./icon/iconfont.woff) format('woff'),
		url(./icon/iconfont.ttf) format('truetype');
}

[class^='icon-'],
[class*=' icon-'],
.iconfont {
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1em;
	font-family: 'icofont' !important;
	font-size: inherit;
	font-style: normal;
}

/* 搜索 &#xe603; */
.icon-search::before {
	content: '\e603';
}

/* 错误 &#xe600; */
.icon-error::before {
	content: '\e600';
}

/* 成功 &#xe8ad; */
.icon-success::before {
	content: '\e8ad';
}

/* 警告 &#xe611; */
.icon-warning::before {
	content: '\e611';
}

/* 编辑 &#xe60d; */
.icon-edit::before {
	content: '\e60d';
}

/* 线条加载 &#xe8fd; */
.icon-loading-line::before {
	content: '\e8fd';
}

/* 加载 &#xe634; */
.icon-loading::before {
	content: '\e634';
}

/* 首页 &#xe622; */
.icon-home::before {
	content: '\e622';
}

/* 设置 &#xe620; */
.icon-settiing::before {
	content: '\e620';
}

/* 历史 &#xe61a; */
.icon-history::before {
	content: '\e61a';
}

/* 喜欢 &#xe613; */
.icon-like::before {
	content: '\e613';
}
