@use 'sass:map';
@use '@/scss/mixin/themes.scss' as theme;
@use '@/scss/token.scss' as token;

html:root {
	@include theme.themes();

	font-size: 16px;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Helvetica Neue,
		Helvetica,
		Arial,
		PingFang SC,
		Hiragino Sans GB,
		Microsoft YaHei,
		sans-serif;
}

html:root {
	--el-color-primary: #{map.get(token.$theme, 'primary')};
	--el-color-primary-light-3: #{map.get(token.$theme, 'l-3')};
	--el-color-primary-light-5: #{map.get(token.$theme, 'l-5')};
	--el-color-primary-light-7: #{map.get(token.$theme, 'l-7')};
	--el-color-primary-light-8: #{map.get(token.$theme, 'l-8')};
	--el-color-primary-light-9: #{map.get(token.$theme, 'l-9')};
	--el-color-primary-dark-2: #{map.get(token.$theme, 'd-2')};
}

::selection {
	background: map.get(token.$theme, 'd-2');
	color: #fff;
}
